div#app-preloader {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #f4f6fa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.5s linear;
    z-index: 99;
}

.app-preloader-text {
    position: relative;
    color: #9aabaf;
    width: 167px;
    text-align: center;
    font-family: 'Soleil', sans-serif;
    padding-top: 15px;
    font-size: 1.4rem;
}

.app-preloader-text div {
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s linear;
}

.app-preloader-text div.active {
    opacity: 1;
    transition: opacity 0.5s linear 0.5s;
}

@keyframes spinning {
    0% { transform: rotate(0); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

.app-preloader-gif img {
    width: 60px;
    height: 60px;
    animation: spinning 4s cubic-bezier(0.86, 0, 0.07, 1) 0s infinite;
}

#jsd-widget{
    display: none;
}

#jsd-widget.ready{
    display: block;
}