@font-face {font-family: 'Soleil';src: url('/fonts/371B77_4_0.eot');src: url('/fonts/371B77_4_0.eot?#iefix') format('embedded-opentype'),url('/fonts/371B77_4_0.woff2') format('woff2'),url('/fonts/371B77_4_0.woff') format('woff'),url('/fonts/371B77_4_0.ttf') format('truetype');}

@media print {
    body *:not(.print-body *) {display:none;}
}

body.print-body {
    color: #556164;
    font-family: 'Soleil', sans-serif;
}

span.total-text {
    margin-right: 10px;
    font-size:18px;
}

span.total-summary {
    font-size:20px;
    font-weight:bold
}

.print-body table {
    width:100%;
    border-collapse:collapse;
    border:1px solid #ddd;
    margin:20px 0;
}

.print-body table tr {
    border-bottom: 1px solid #ddd;
    page-break-inside:avoid;
}

.print-body table tr.colored-tr {
    background-color:#f5f5f5;
}

.print-body table th {
    padding: 15px;
}

.print-body table th div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

 .print-body table th div .period-code {
     font-size: 20px;
 }

.print-body table th div .user-credentials {
    font-size: 16px;
}

.print-body table th div .summary-duration, .print-body table th div .user-summary {
    font-weight: bold;
    font-size: 12px;
    text-align: end;
}

.print-body table td {
    padding: 5px 10px;
    border-right: 1px solid #ddd;
    word-wrap: break-word;
    hyphens: auto;
    font-size: 12px;
    text-align: left;
}

 .print-body table td.word-break {
     word-break: break-all;
 }

.print-body table td.last-td {
    border-right: none;
}

.print-body table td.subheader-cell {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    border-right: none;
}

.text-end {
    text-align: end;
}