@font-face {font-family: 'Soleil';src: url('/fonts/371B77_4_0.eot');src: url('/fonts/371B77_4_0.eot?#iefix') format('embedded-opentype'),url('/fonts/371B77_4_0.woff2') format('woff2'),url('/fonts/371B77_4_0.woff') format('woff'),url('/fonts/371B77_4_0.ttf') format('truetype');}

body {
    font-family: 'Soleil', sans-serif;
}

#help-button{
    opacity: 0;
    pointer-events: none;
}