@import url("//hello.myfonts.net/count/371b77");


@font-face {font-family: 'Soleil Bold';src: url('371B77_0_0.eot');src: url('371B77_0_0.eot?#iefix') format('embedded-opentype'),url('371B77_0_0.woff2') format('woff2'),url('371B77_0_0.woff') format('woff'),url('371B77_0_0.ttf') format('truetype');}


@font-face {font-family: 'Soleil Light';src: url('371B77_3_0.eot');src: url('371B77_3_0.eot?#iefix') format('embedded-opentype'),url('371B77_3_0.woff2') format('woff2'),url('371B77_3_0.woff') format('woff'),url('371B77_3_0.ttf') format('truetype');}


@font-face {font-family: 'Soleil';src: url('371B77_4_0.eot');src: url('371B77_4_0.eot?#iefix') format('embedded-opentype'),url('371B77_4_0.woff2') format('woff2'),url('371B77_4_0.woff') format('woff'),url('371B77_4_0.ttf') format('truetype');}
